.filters {
  display: flex;
  flex-wrap: wrap;
  
  .filter {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 10px 10px 0 0;
    border: none;
    min-width: 120px;
    color: $color-white;
    border-radius: $radius;

    &-ingredient {
      background-color: $color-blue;
    }

    &-appareil {
      background-color: $color-green;
    }

    &-ustensiles {
      background-color: $color-red;
      margin-right: 0;
    }

    &-input {
      background: none;
      border: none;
      font-size: 18px;
      width: 80%;
      padding: 25px 0 25px 25px;
      color: $color-white;
      outline: none;
      
      &::placeholder {
        color: $color-white;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }

      
      img {
        height: 20px;
        width: 20px;
        transform: rotate(180deg);

        &.open {
          transform: rotate(0deg);
        }
      }
    }

    &-items {
      position: absolute;
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      width: calc(100% - 40px);
      padding: 0 20px 20px 20px;
      left: 0;
      top: 68px;
      visibility: hidden;

      &.ingredient {
        background-color: $color-blue;

        .filter-item {
          background-color: $color-blue;
        }
      }
  
      &.appareil {
        background-color: $color-green;

        .filter-item {
          background-color: $color-green;
        }
      }
  
      &.ustensiles {
        background-color: $color-red;

        .filter-item {
          background-color: $color-red;
        }
      }
    } 

    &[data-active="true"]  {
      width: 380px;

      .filter-input {
        opacity: .5;

        &::placeholder {
          content: "test"
        }
      }

      .filter-items {
        visibility: visible;
      }
    } 

    &-item {
      font-size: 18px;
      padding: 5px;
      width: calc(33.33% - 10px);

      a {
        color: $color-white;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .filters {
    .filter {
      margin: 20px 20px 0 0;

      &:last-of-type {
        margin: 20px 0 0 0;
      }
    }
  }
}
