.filters {
  display: flex;
  max-width: 570px;

  .filter {
    display: flex;
    margin: 20px 20px 0 0;
    border: none;
    height: 70px;
    color: $color-white;
    border-radius: $radius;

    &-ingredient {
      background-color: $color-blue;
    }

    &-appareil {
      background-color: $color-green;
    }

    &-ustensiles {
      background-color: $color-red;
    }

    &-input {
      background: none;
      border: none;
      font-size: 18px;
      width: 120px;
      color: $color-white;
      padding-left: 20px;
      
      &::placeholder {
        color: $color-white;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding-right: 20px;

      &:hover {
        cursor: pointer;
      }

      
      img {
        height: 20px;
        width: 20px;
        transform: rotate(180deg);

        &.open {
          transform: rotate(0deg);
        }
      }
    }
  }
}