* {
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

// TODO: Remove it, just for dev
body {
  position: relative;
  background-color: #212121;
}

a {
  text-decoration: none;
}
