header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  img {
    height: 50px;
  }

  h1 {
    color: $color-primary;
    font-weight: 700;
    font-size: 36px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
}
